<html ng-app="myApp">
<head>
  <title>Maps App</title>
  <%= include_gon %>
  <script type="text/javascript" src="http://code.angularjs.org/1.2.5/angular.js"></script>
  <script type="text/javascript" src='http://maps.googleapis.com/maps/api/js?sensor=false'></script>
  <script type="text/javascript" src="/js/lodash.js"></script>
  <script type="text/javascript" src='/js/angular-google-maps.js'></script>
  <script type="text/javascript" src="/js/app.js"></script>
  <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>


  <%= yield %>
</body>
</html>