*{
  box-sizing: border-box;
  font-family: Verdana;
  margin: 0 auto;
}
body {
  width: 600px;
  margin: 50px auto;
}

.angular-google-map-container { 
  height: 400px;

   }
.map-display .map{
  border: 10px solid black;
  overflow: hidden;
}
map {
  display:block; 
  width:600px; 
  height:400px;
  border: 10px solid black;
  overflow: hidden;
  z-index: -1;
}

.profile {
  border: 2px solid black;
  text-align: center;
  padding: 5px;
  margin: 0 auto;
  position: relative;
  top: -68px;
  background-color: white;
  font-size: 30px;
}

.profile.right {
  color: green;
}

.profile.wrong {
  color: red;
}

.options {
  position: absolute;
  top: 500px;
  width: 600px;
  text-align: center;
}
.options p {
  cursor:pointer;
  border: 1px solid black;
  display: inline-block;
  padding: 5px;
}

.options p:hover {
color:blue;
font-weight: bold;
cursor:pointer;
border: 1px solid blue;
}

.hello {
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  position: absolute;
  z-index: 999;
  width: 600px;
  top: -0px;
  background-color: whitesmoke;

}
